.container1 {
	text-align:center;
	background-color: #5873CB;
	padding:10px 0px;
}

.container3 {
	text-align:center;
	background-color: #F8F8F8;
	padding:10px 50px;
	height:50px;
}

.container2 {
	text-align:center;
	background-color: #EDEEF3;
	padding:15px 0px;
}

.container4 {
	padding:0px 0px;
}

#searchPIN {
	outline:none;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border:none;
	height:60px;
	width:55%;
	font-size:27px;
	padding-left:30px;
	margin-left:-4px;
}

#bkg {
	background-color: #fff;
	display:inline-block;
	padding-top:16px;
	padding-bottom:17px;
	padding-left: 20px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border:none;
}

#searchImage {
	outline:none;
}

.col-5 {
	width:25%;
	float:left;
}

.row {
	margin-top: 10px;
}

.pinlist {
	background: #fff;
	margin: 0 auto;
	margin-bottom: 0px;
/*	z-index: 10;*/
}

.imgPin {
  display: block;
  float: left;
  width: 100px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:20px;
  clear:both;
  margin-left:10%;
}


.pinlist ul:hover {
  background: #F8F9FC;
  cursor:pointer;

}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}



.postedBy {
	float:left;
	margin-left: 10px;
	margin-top: -20px;
	font-size:27px;

}

.pinName {
	display:block;
	position:relative;
	/*float:left;*/
	font-size:32px;
}

.postedByImg {
/*	clear:both;*/
	display:block;
	position:relative;
	max-width:30px;
	float:left;
	margin-top: -20px;



}

.time {
	display: inline-block;
	position:relative;
	font-size:22px;
	float:right;
	margin-top:-50px;
	margin-right:8%;
}

.pin {
	border-bottom: 1px solid #E3E3E3;
}


